
# Projekt *Learning und Softcomputing* - Sommersemester 2023
## Vorhersage von Flugpreisen 
**Gruppe 04**
- Marisa Sophie Heinemann (DSAI 105714)
- Timo Kranz (ITS 105862)

**Daten**

Der Datensatz verfügt über Daten für One-Way Flüge, die zwischen dem 16.04.2022 und dem 05.10.2022 auf Expedia gefunden wurden. Bereitgestellt wurde dieser von *Dillon Wong* auf [Kaggle](https://www.kaggle.com/datasets/dilwong/flightprices) sowie auf [GitHub](https://github.com/dilwong/FlightPrices). Eine weitere Beschreibung zu diesem finden Sie unter dem Punkt *2. Beschreibung Datensatzes*.

**Aufgabenbeschreibung**

Ziel des zu entwickelnden Modelles ist es auf Basis von verschiedenen Parametern einen Flugpreis vorherzusagen. 

**Aufbau dieses Notebooks**
1. Hinweise zur Durchführung des Projektes
2. Beschreibung des Datensatzes
3. Benötigte Pakete
4. Feature Engineering
5. Exploritory Data Analysis

## 1. Hinweise zur Durchführung des Projektes

Die praktische Übung zum Thema Maschine Learning kann mit [Jupyter Notebook](http://jupyter.org/) und [Scikit-Learn](http://scikit-learn.org/) durchgeführt werden. Wir verwenden die Google-Plattform [Colab](https://colab.research.google.com), die Jupyter Notebooks in der Cloud hostet. Dafür haben wir uns ein gemeinsames Konto angelegt. Dies ist allerdings keine Voraussetzung, da wir auch mit unterschiedlichen Konten gemeinsam an diesem Projekt arbeiten können. 


### Environment
Sollte eine lokale Nuzung auf dem Computer gewünscht sein, um eine Berechnung ohne Netzzugang durchzuführen. Geht dies am besten über die Distribution Miniconda. (Mini)conda ist der Package Manager von Anaconda und ist somit eine Konsolen Applikation. Anaconda ist eine visuelles Front-End für (mini)conda. (Mini/Ana)Conda erlaubt uns die gleiche Umgebung auf jedem Rechner zu erstellen. Wir haben uns für Conda entschieden, da dieses eines der am meisten verwendeten Package Management Systems für Data Science und Machine Learning ist.  Für die Intstallation siehe die offizielle Website von [Miniaconda](https://docs.conda.io/en/latest/miniconda.html). Für die Erstellung der Enviroment haben wir eine .yml-Datei mit einer Liste aller benötigten Packages erstellt. Dieses finden Sie im [Moodle](https://lms.fh-wedel.de/course/view.php?id=207). Speichern Sie diese Datei auf Ihrem Rechner unter den Namen 'learning_env.yml' ab.
Öffne Sie an dem Ort wo die Datei liegt eine Konsole. Um das Enviorment zu erstellen führen Sie folgenden Link aus:

-  *conda env create -f learning_env.yml*

Die Erstellung kann einige Minuten dauern. Aktivieren Sie anschließend das Enviroment in der Konsole.


- *conda activate learning_env*

learning_env steht hier für den in unserem Enviorment verwendetetn Namen in der ersten Zeile und nicht für den Datei Namen. Gehen Sie deshalb sicher, dass Sie nichts an der Datei verändert haben.
Anschließend kann das Python Skript lokal durchgeführt werden.

# Todo Link von Moodle
Dieses Jupyter-Notebook finden Sie im [Moodle](https://lms.fh-wedel.de/course/view.php?id=207). 


Starten Sie dazu bitte [Colab](https://colab.research.google.com), in dem Sie mit dem Web-Browser auf https://colab.research.google.com gehen, wählen Sie dann *Upload Notebook* aus dem *File*-Menü und laden Sie bitte das File  *projekt_learning_und_softcomputing_gruppe04.ipynb* hoch. Um das Notebook sinvoll verwenden zu können ist es nötig die Daten im Drive abzulegen.

## 2. Beschreibung des Datensatzes 

Der Datensatz enthält Informationen zu One-Way-Flügen, die zwischen dem *16.04.2022* und *05.10.2022* auf Expedia verfügbar waren. Er besteht aus *27 verschiedenen Featuren* und umfasst insgesamt *5.999.739 Datenpunkte*.
Jede Zeile stellt einen Datensatz für einen auf Expedia gefundenen Flug dar. Ein und derselbe Flug kann in mehreren Zeilen erscheinen, da sich der Preis täglich ändern kann.
Ingesammt umfasst der Datensatz eine 30 GB CSV-Datei. Zu beachten ist, dass der Datensatz ausschließlich Flüge zu und von US-Flughäfen umfasst. Diese enthaltenden Flughäfen haben folgende Kürzel:  ATL, DFW, DEN, ORD, LAX, CLT, MIA, JFK, EWR, SFO, DTW, BOS, PHL, LGA, IAD, OAK


Die Fetures werden in der folgenden Tabelle näher beschrieben.	 


| Feature                               | Beschreibung                                                                                   |
|---------------------------------------|-----------------------------------------------------------------------------------------------|
| legId                                 | Eine Kennung für den Flug.                                                                    |
| searchDate                            | Das Datum (JJJJ-MM-TT), an dem dieser Eintrag von Expedia übernommen wurde.                    |
| flightDate                            | Das Datum (JJJJ-MM-TT) des Fluges.                                                             |
| startingAirport                       | Dreistelliger IATA-Flughafencode für den Abflugort.                                            |
| destinationAirport                    | Dreistelliger IATA-Flughafencode für das Ziel.                                                 |
| fareBasisCode                         | Der Tarifbasiscode.                                                                            |
| travelDuration                        | Die Reisedauer in Stunden und Minuten.                                                        |
| elapsedDays                           | Die Anzahl der vergangenen Tage (normalerweise 0).                                             |
| isBasicEconomy                        | Boolescher Wert, ob das Ticket für Basic Economy gilt.                                         |
| isRefundable                          | Boolescher Wert, ob das Ticket erstattungsfähig ist.                                           |
| isNonStop                             | Boolescher Wert, ob der Flug nonstop ist.                                                      |
| baseFare                              | Der Preis des Tickets (in USD).                                                                |
| totalFare                             | Der Preis des Tickets (in USD), einschließlich Steuern und Gebühren.                           |
| seatsRemaining                        | Ganzzahl für die Anzahl der verbleibenden Plätze.                                              |
| totalTravelDistance                   | Die Gesamtreisedistanz in Meilen. Diese Daten können manchmal fehlen.                         |
| segmentsDepartureTimeEpochSeconds     | Zeichenkette mit der Abflugzeit (Unix-Zeit) für jeden Flugabschnitt. Die Einträge für jeden Abschnitt sind durch '&#124;&#124;'  getrennt.|
| segmentsDepartureTimeRaw              | Zeichenkette mit der Abflugzeit (ISO 8601-Format: JJJJ-MM-TTThh:mm:ss.000±[hh]:00) für jeden Flugabschnitt. Die Einträge für jeden Abschnitt sind durch  '&#124;&#124;'  getrennt.|
| segmentsArrivalTimeEpochSeconds       | Zeichenkette mit der Ankunftszeit (Unix-Zeit) für jeden Flugabschnitt. Die Einträge für jeden Abschnitt sind durch  '&#124;&#124;'  getrennt.|
| segmentsArrivalTimeRaw                | Zeichenkette mit der Ankunftszeit (ISO 8601-Format: JJJJ-MM-TTThh:mm:ss.000±[hh]:00) für jeden Flugabschnitt. Die Einträge für jeden Abschnitt sind durch '&#124;&#124;' getrennt.|
| segmentsArrivalAirportCode            | Zeichenkette mit dem IATA-Flughafencode für das Ziel für jeden Flugabschnitt. Die Einträge für jeden Abschnitt sind durch  '&#124;&#124;'  getrennt.|
| segmentsDepartureAirportCode          | Zeichenkette mit dem IATA-Flughafencode für den Abflugort für jeden Flugabschnitt. Die Einträge für jeden Abschnitt sind durch  '&#124;&#124;'  getrennt.|
| segmentsAirlineName                   | Zeichenkette mit dem Namen der Fluggesellschaft, die jeden Flugabschnitt bedient. Die Einträge für jeden Abschnitt sind durch  '&#124;&#124;' getrennt.|
| segmentsAirlineCode                   | Zeichenkette mit dem zweistelligen Fluggesellschaftscode, der jeden Flugabschnitt bedient. Die Einträge für jeden Abschnitt sind durch  '&#124;&#124;'  getrennt.|
| segmentsEquipmentDescription          | Zeichenkette mit dem Typ des für jeden Flugabschnitt verwendeten Flugzeugs (z.B. "Airbus A321" oder "Boeing 737-800"). Die Einträge für jeden Abschnitt sind durch  '&#124;&#124;' getrennt.|
| segmentsDurationInSeconds             | Zeichenkette mit der Dauer des Fluges (in Sekunden) für jeden Flugabschnitt. Die Einträge für jeden Abschnitt sind durch  '&#124;&#124;'  getrennt.|
| segmentsDistance                      | Zeichenkette mit der zurückgelegten Strecke (in Meilen) für jeden Flugabschnitt. Die Einträge für jeden Abschnitt sind durch  '&#124;&#124;'  getrennt.|
| segmentsCabinCode                     | Zeichenkette mit der Kabine für jeden Flugabschnitt (z.B. "Economy"). Die Einträge für jeden Abschnitt sind durch  '&#124;&#124;'  getrennt.|


Unteranderem hatten folgende Argumente einen positiven Einfluss auf den Datensatz, so dass wir uns entschieden haben diesen für unser Projekt zu verwenden:
- Viele Features 
- Interessante Features wie exaktes Datum und Anzahl übrige Sitzplätze 
- Sehr großer Datensatz
- Persönliches Interesse an Flugdaten

Verknüpfung mit Drive um auf die Daten zugreifen zu können.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

CPU verbdinung herstellen

In [ ]:
#@markdown Check type of GPU and VRAM available.
!nvidia-smi --query-gpu=name,memory.total,memory.free --format=csv,noheader

In [28]:
# boolean for debugging 
debug = True

## Vorbereitung der Daten

Zu Beginn unserer Arbeit mussten wir den Datensatz minimieren, da unser lokaler Speicher und die Cloud Kapazitäten nicht groß genung waren um den 30 GB großen Datensatz zu verarbeiten.
Dafür haben wir den folgenden Code verwendet, diese hat zufällige Dateneinträge aus der Datei gezogen und in eine neue Datei geschrieben. 
Mit dieser neuen Datei werden wir folgend das Projekt durchhführen. 
Die Datei hat nur unikate Datensätze, ist 276 MB groß und hat 757385 Datenpunkte. 

Zur Reduzierung haben wir folgenden Code durchgeführt.

    import random
    import csv

    def halve_csv_file(input_file, output_file):
    # Anzahl der Zeilen in der CSV-Datei ermitteln
    with open(input_file, 'r') as file:
        num_lines = sum(1 for line in file)

    # Anzahl der Zeilen für die Ausgabe festlegen
    num_output_lines = num_lines // 2

    # Zufällige Auswahl von Zeilen erstellen
    selected_lines = sorted(random.sample(range(1, num_lines + 1), num_output_lines))

    with open(input_file, 'r') as input_csv, open(output_file, 'w', newline='') as output_csv:
        reader = csv.reader(input_csv)
        writer = csv.writer(output_csv)

        # Ausgewählte Zeilen in die Ausgabedatei schreiben
        for i, row in enumerate(reader, start=1):
            if i in selected_lines:
                writer.writerow(row)

    print(f"Die Datei wurde halbiert. Ursprüngliche Zeilen: {num_lines}, Ausgewählte Zeilen: {num_output_lines}")

    input_file = "C:/Users/maris/OneDrive/Dokumente/Learning und Soft/df.csv"
    output_file = 'halbierte_datei.csv'
    halve_csv_file(input_file, output_file)

## 3. Benötigte Pakete

In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 4. Feature Engineering 

Die vorhandenen Daten sind möglicherweise nicht direkt für den Einsatz von Machine-Learning-Algorithmen geeignet. Es gibt mehrere Gründe dafür:
- Die Art der Features ist möglicherweise ungeeignet.
- Die Wertebereiche der Features können variieren.
- Die Zusammenhänge zwischen den Features sind möglicherweise schwer zu erkennen.

Um diese Herausforderungen anzugehen, werden wir zunächst Feature Engineering durchführen.

In [30]:
#csv_path = "/content/drive/MyDrive/Colab Notebooks/dataset_flight_prices.csv"
csv_path ="C:/Users/maris/OneDrive/Dokumente/Learning und Soft/dataset_flight_prices.csv"
df = pd.read_csv(csv_path)

In [ ]:
#Check top 5 data
df.head(5)

In [ ]:
#Shape of the data
df.shape

In [ ]:
#Information about dataset
df.info()

In [ ]:
#Checking number of NULL values
#df.isnull().sum()
df.isna().sum()

In [ ]:
df.dtypes

In [31]:
#Dropping NA values
# if only some values are missing, then we drop them
df.dropna(inplace=True)

In [32]:
# check if duplicates in the data 
dublicates = df.duplicated().sum() > 0

if (dublicates > 0):
    print('There are '+ dublicates + 'Dublicates. Now there are dropped' )
    # drop duplication in train data
    df.drop_duplicates(inplace=True)

In [33]:
import re
# Function to convert duration which is saved as object in to minutes as int
def convert_duration(duration):
    hours = int(re.findall(r'(\d+)H', duration)[0]) if 'H' in duration else 0
    minutes = int(re.findall(r'(\d+)M', duration)[0]) if 'M' in duration else 0
    total_minutes = hours * 60 + minutes
    return total_minutes

In [34]:
# 'travelDuration' column is in the format "PT2H29M", wee need to convert this in a numeric value
# Create a new 'travelDurationMinutes' column
df['travelDurationMinutes'] = df['travelDuration'].apply(convert_duration)

In [35]:
# Convert the Dates column fromm object to datetime format
df['flightDate'] = pd.to_datetime(df['flightDate'])
df['searchDate'] = pd.to_datetime(df['searchDate'])
# Extract the numerical components from the datetime column
#df['searchYear'] = df['searchDate'].dt.year #all the same
df['searchMonth'] = df['searchDate'].dt.month.astype(str)
df['searchDay'] = df['searchDate'].dt.day.astype(str)
# Extract the numerical components from the datetime column
#df['year'] = df['flightDate'].dt.year #all same
df['flightMonth'] = df['flightDate'].dt.month.astype(str)
df['flightDay'] = df['flightDate'].dt.day.astype(str)
# the month and day type is integer but the month not quantitive value so we convert it to string 

# Derived features
# To express dependencies between existing features features, combined features are introduced. 
# Calculate the number of days left and Creat a new 'daysLeft' column as int
df['daysLeft'] = (df['flightDate'] - df['searchDate']).dt.days.astype(int)


def safeDay(data, column, newColumn):
    data[newColumn] = pd.to_datetime(data[column]).dt.strftime('%A')

# Creat a new column, which presents the day of this date
safeDay(df, 'flightDate', 'flightDateDay')
safeDay(df, 'searchDate', 'searchDateDay')

In [36]:
# The time is always listed after 'T' in the data, since a flight can contain several stops, it can be that the string shows several times
# We are only interested in the hours and minutes
# For the arrival time, we always want the last time
# For departure we always want the first time

def extract_time(time_string, pattern):
    extracted_time = re.search(pattern, time_string)
    if extracted_time:
        time_digits = extracted_time.group(1)[:5].replace(':', '.')
        return float(time_digits)
    return None


patternLast = r'T([^T]*)$' # Searches characters after the last occurrence of the T
patternFirst = r'T(.{5})' # Searches 5 charcters after the first 'T'


df['arrivalTime'] = df['segmentsArrivalTimeRaw'].apply(lambda x: extract_time(x, patternLast))
df['depatureTime'] = df['segmentsDepartureTimeRaw'].apply(lambda x: extract_time(x, patternFirst))

In [37]:
#checking that the correct times are selected
if debug: 
    print(df[['arrivalTime', 'segmentsArrivalTimeRaw','depatureTime', 'segmentsDepartureTimeRaw' ]])

        arrivalTime                             segmentsArrivalTimeRaw  \
0             15.26                      2022-04-17T15:26:00.000-04:00
1              9.00                      2022-04-17T09:00:00.000-04:00
2             12.32  2022-04-17T08:21:00.000-04:00||2022-04-17T12:3...
3             13.38  2022-04-17T08:21:00.000-04:00||2022-04-17T13:3...
4             10.16  2022-04-17T07:18:00.000-04:00||2022-04-17T10:1...
...             ...                                                ...
757380        13.33                      2022-06-07T13:33:00.000-04:00
757381         9.33                      2022-06-07T09:33:00.000-04:00
757382        20.33                      2022-06-07T20:33:00.000-04:00
757383        11.48                      2022-06-07T11:48:00.000-04:00
757384        20.29  2022-06-07T13:05:00.000-04:00||2022-06-07T20:2...

        depatureTime                           segmentsDepartureTimeRaw
0              12.57                      2022-04-17T12:57:00.000-04:00
1               6.30                      2022-04-17T06:30:00.000-04:00
2               7.00  2022-04-17T07:00:00.000-04:00||2022-04-17T10:2...
3               7.00  2022-04-17T07:00:00.000-04:00||2022-04-17T11:2...
4               5.30  2022-04-17T05:30:00.000-04:00||2022-04-17T08:3...
...              ...                                                ...
757380         10.30                      2022-06-07T10:30:00.000-05:00
757381          6.30                      2022-06-07T06:30:00.000-05:00
757382         17.30                      2022-06-07T17:30:00.000-05:00
757383          8.30                      2022-06-07T08:30:00.000-05:00
757384          9.43  2022-06-07T09:43:00.000-05:00||2022-06-07T19:0...

[698528 rows x 4 columns]

In [38]:
#check if erverything was succesfull
if debug:
    df.info()
    df.head(5)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 698528 entries, 0 to 757384
Data columns (total 37 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   legId                              698528 non-null  object
 1   searchDate                         698528 non-null  datetime64[ns]
 2   flightDate                         698528 non-null  datetime64[ns]
 3   startingAirport                    698528 non-null  object
 4   destinationAirport                 698528 non-null  object
 5   fareBasisCode                      698528 non-null  object
 6   travelDuration                     698528 non-null  object
 7   elapsedDays                        698528 non-null  int64
 8   isBasicEconomy                     698528 non-null  bool
 9   isRefundable                       698528 non-null  bool
 10  isNonStop                          698528 non-null  bool
 11  baseFare                           698528 non-null  float64
 12  totalFare                          698528 non-null  float64
 13  seatsRemaining                     698528 non-null  int64
 14  totalTravelDistance                698528 non-null  float64
 15  segmentsDepartureTimeEpochSeconds  698528 non-null  object
 16  segmentsDepartureTimeRaw           698528 non-null  object
 17  segmentsArrivalTimeEpochSeconds    698528 non-null  object
 18  segmentsArrivalTimeRaw             698528 non-null  object
 19  segmentsArrivalAirportCode         698528 non-null  object
 20  segmentsDepartureAirportCode       698528 non-null  object
 21  segmentsAirlineName                698528 non-null  object
 22  segmentsAirlineCode                698528 non-null  object
 23  segmentsEquipmentDescription       698528 non-null  object
 24  segmentsDurationInSeconds          698528 non-null  object
 25  segmentsDistance                   698528 non-null  object
 26  segmentsCabinCode                  698528 non-null  object
 27  travelDurationMinutes              698528 non-null  int64
 28  searchMonth                        698528 non-null  object
 29  searchDay                          698528 non-null  object
 30  flightMonth                        698528 non-null  object
 31  flightDay                          698528 non-null  object
 32  daysLeft                           698528 non-null  int32
 33  flightDateDay                      698528 non-null  object
 34  searchDateDay                      698528 non-null  object
 35  arrivalTime                        698528 non-null  float64
 36  depatureTime                       698528 non-null  float64
dtypes: bool(3), datetime64[ns](2), float64(5), int32(1), int64(3), object(23)
memory usage: 185.9+ MB

In [39]:
# Funktion um zu Zählen wir häufig '||' im String vorkommt.
# Dieses Zeichen kommt immer dann vor, wenn invormationen unterschiedlicher Flüge in einem String aufgelistet werden
# Durch das Zählen dieses Strings und anschließend das dividieren durch 2 können die Anzahl an Stopps ermittelt werden
# counting the number of Stopps
# Wenn die Variable 'isnNonStop' true ist, wird der dummy Variable 0 zugeweisen
# Ansonsten werden die Stops gezählt
df['totalStops'] = np.where(df['isNonStop'], 0, df['segmentsAirlineName'].str.count('\|')//2)

#check Anzahl der Vorkomnisse
if debug:
    df['totalStops'].value_counts()

In [40]:
# Add now column with full route
df['totalRoute'] = df['segmentsDepartureAirportCode'] + '||' + df['destinationAirport']

## Feature selection 
Bei der Erstauswahl der Features haben wir "Expertenwissen" eingeholt. Dafür haben wir uns mit dem Thema Flugpreise und öknomische Preisbildung vertraut gemacht.
Zunächst nehmen wir in unseren Dataframe folgende Features mit auf.

**startingAirport** and **destinationAirport**: In diesen Spalten können die geografischen Informationen des Fluges erfasst werden, die für die Ermittlung der Flugpreise auf der Grundlage von Faktoren wie Entfernung, Beliebtheit der Strecken und regionale Preisunterschiede von Bedeutung sein können.

**fareBasisCode**: Diese Spalte kann Aufschluss über die Tarifregeln und die Preisstruktur der Tickets geben, was auf Preisschwankungen hinweisen kann.

**travelDurationMinutes** (*new*): Die Dauer des Fluges kann ein wichtiger Faktor sein, der die Ticketpreise beeinflusst. Längere Flüge haben in der Regel höhere Preise.

**totalStops** (*new*):

**isBasicEconomy, isRefundable**: Diese booleschen Spalten können Informationen über bestimmte Ticketmerkmale liefern, die sich auf den Preis auswirken können. Einfache Economy-Tickets, erstattungsfähige Tickets und Non-Stop-Flüge können unterschiedliche Preisspannen haben.

**baseFare** and **totalFare**: Diese Spalten stellen direkt die Ticketpreise dar, die die Zielvariable für Ihr maschinelles Lernmodell sind.

**seatsRemaining**: Die Anzahl der verbleibenden Plätze auf einem Flug kann ein Indikator für die Ticketnachfrage und die Preisdynamik sein. Sie kann bei der Vorhersage von Preisschwankungen hilfreich sein.

**totalTravelDistance**: Die Gesamtentfernung kann zusätzliche Informationen über den Flug und seine möglichen Auswirkungen auf die Ticketpreise liefern.

**segmentsAirlineName**: Diese Information kann nützlich sein, um die Auswirkungen der verschiedenen Fluggesellschaften auf die Flugpreise zu verstehen. Einige Fluggesellschaften haben den Ruf, niedrigere oder höhere Preise anzubieten.

**segmentsEquipmentDescription**: Der Flugzeugtyp kann für die Vorhersage von Flugpreisen relevant sein, da verschiedene Flugzeugtypen unterschiedliche Betriebskosten, Kapazitäten oder Komfortniveaus haben können. Bestimmte Flugzeugmodelle können mit Premium-Diensten oder höheren Preisen verbunden sein.

**daysLeft** (*new*): Ermöglicht es dem Modell, den Buchungszeitraum und mögliche Preisschwankungen in der Nähe des Abflugdatums zu berücksichtigen.


**flightDate**: The 'flightDate' column represents the specific date of the flight. This can be useful in analyzing any patterns or trends in flight prices based on different days, weeks, or months. For example, prices may vary depending on the day of the week or the time of year. You can extract features such as day of the week or month from this column to capture such temporal patterns.

**searchDate**: The 'searchDate' column indicates the date when the flight information was obtained from Expedia. It can be used in conjunction with the 'flightDate' column to calculate the number of days left until the flight, which can be an important factor in pricing. This information can be valuable in capturing the time sensitivity of ticket prices.


**flightDateDay** (*new*) and **searchDateDay** (*new*): Der Wochentag kann einen Einfluss auf den Preis haben, da die Nachfrage an Wochenenden eventuell größer sein könnte.

**arrivalTime** (*new*) and **depatureTime** (*new*): Die Uhrzeit des Abfluges und der Ankunft könnte einen Einfluss auf den Preis haben. Da gute Flugzeiten beliebter und praktischer für Kunden sein könnten.

Ausortieren von Daten, die keine (großen) Veränderung aufzeigen.

In [41]:
# Da die Flüge alle die selben Suchmonate aufweisen, wird dieses Feature aussortiert, da keine Information dadraus entnommen werden kann
unique_counts_searchMonth = df['searchMonth'].value_counts()
print(unique_counts_searchMonth)

4    698528
Name: searchMonth, dtype: int64

In [42]:
# Da nur eine handvoll Daten refundable sind, wird diese Variable nicht weiter betrachtet
unique_isRefundable = df['isRefundable'].value_counts()
print(unique_isRefundable)

False    698524
True          4
Name: isRefundable, dtype: int64

In [97]:
# selection of the desired columns
desired_columns = [ 'baseFare', 'startingAirport', 'destinationAirport', 'travelDurationMinutes', 'daysLeft', 'isBasicEconomy', 
                   'seatsRemaining', 'totalTravelDistance', 'segmentsAirlineName', 'segmentsEquipmentDescription',
                    'flightDateDay','searchDateDay', 'arrivalTime', 'depatureTime', 'flightDay' , 'flightMonth', 'searchDay',  'totalStops']

# creat new dataframe with selected columns
df_new = df[desired_columns].copy()
#df=df_new

In [ ]:
# Select a random 20% of rows from the DataFrame
#random_sample = df_new.sample(frac=0.5, random_state=42)
random_sample = df_new

In [ ]:
df_new.info()

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [44]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(handle_unknown="ignore", sparse=False)

In [ ]:
## raus
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

def one_hot_encode_and_convert_to_int(df, column_to_encode):
    # Create an instance of OneHotEncoder
    ohe = OneHotEncoder(handle_unknown="ignore", sparse=False)
    
    # Perform one-hot encoding using fit_transform
    encoded_column = ohe.fit_transform(df[column_to_encode].values.reshape(-1, 1))
    
    # Convert boolean values to integers (True -> 1, False -> 0)
    encoded_column = encoded_column.astype(int)
    
    # Create column names based on the original column and categories
    column_names = [f"{column_to_encode}_{category}" for category in ohe.categories_[0]]
    
    # Create a DataFrame from the encoded column
    encoded_df = pd.DataFrame(encoded_column, columns=column_names)
    
    # Concatenate the encoded DataFrame with the original DataFrame
    df_encoded = pd.concat([df, encoded_df], axis=1)
    
    return df_encoded

# Assuming 'flightDateDay' is the column you want to one-hot encode
column_to_encode = 'flightDateDay'

# Call the function to perform one-hot encoding and conversion to integers
df_new_encoded = one_hot_encode_and_convert_to_int(df_new, column_to_encode)
df_new = df_new_encoded

# Assuming 'searchDateDay' is the column you want to one-hot encode
column_to_encode = 'searchDateDay'

# Call the function to perform one-hot encoding and conversion to integers
df_new_encoded = one_hot_encode_and_convert_to_int(df_new, column_to_encode)
df_new = df_new_encoded

# Print the updated DataFrame
df_new

In [ ]:
#diese version wäre besser aber ist falsch

import pandas as pd
from sklearn.preprocessing import OneHotEncoder

def one_hot_encode_and_convert_to_int(df, column_to_encode):
    # Create an instance of OneHotEncoder
    ohe = OneHotEncoder(handle_unknown="ignore", sparse=False)
    
    # Perform one-hot encoding using fit_transform
    encoded_column = ohe.fit_transform(df[column_to_encode].values.reshape(-1, 1))
    
    # Convert boolean values to integers (True -> 1, False -> 0)
    encoded_column = encoded_column.astype(int)
    
    # Create column names based on the original column and categories
    column_names = [f"{column_to_encode}_{category}" for category in ohe.categories_[0]]
    
    # Create a DataFrame from the encoded column
    encoded_df = pd.DataFrame(encoded_column, columns=column_names)
    
    # Concatenate the encoded DataFrame with the original DataFrame
    df_encoded = pd.concat([df, encoded_df], axis=1)
    
    
    return df_encoded

# Assuming 'flightDateDay' is the column you want to one-hot encode
column_to_encode = 'flightDateDay'

# Call the function to perform one-hot encoding and conversion to integers
df_new_encoded = one_hot_encode_and_convert_to_int(df_new, column_to_encode)
df_new = df_new_encoded

column_to_encode = 'searchDateDay'
# Call the function to perform one-hot encoding and conversion to integers
df_new_encoded = one_hot_encode_and_convert_to_int(df_new, column_to_encode)

# Print the updated DataFrame
df_new_encoded

In [45]:
#möglichkeit die funktioniert (favorit)

def one_hot_encode_and_convert_to_int_days(df, column_to_encode):
    # Specify the categories
    categories = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

    # Perform one-hot encoding using get_dummies() with specific categories
    encoded_column = pd.get_dummies(df[column_to_encode], prefix=column_to_encode, columns=categories)
        
    # Convert boolean values to integers (True -> 1, False -> 0)
    encoded_column = encoded_column.astype(int)
    
    # Concatenate the encoded column with the original DataFrame
    df_encoded = pd.concat([df_new, encoded_column], axis=1)
    
    return df_encoded

In [46]:
#favorit


# Assuming 'flightDateDay' is the column you want to one-hot encode
column_to_encode = 'flightDateDay'

# Call the function to perform one-hot encoding and conversion to integers
df_encoded = one_hot_encode_and_convert_to_int_days(df_new, column_to_encode)

df_new = df_encoded

column_to_encode = 'searchDateDay'

# Call the function to perform one-hot encoding and conversion to integers
df_encoded = one_hot_encode_and_convert_to_int_days(df_new, column_to_encode)
df_new = df_encoded

# Print the updated DataFrame
df_new

,baseFare,startingAirport,destinationAirport,travelDurationMinutes,daysLeft,isBasicEconomy,seatsRemaining,totalTravelDistance,segmentsAirlineName,segmentsEquipmentDescription,...,flightDateDay_Monday,flightDateDay_Saturday,flightDateDay_Sunday,flightDateDay_Thursday,flightDateDay_Tuesday,flightDateDay_Wednesday,searchDateDay_Monday,searchDateDay_Saturday,searchDateDay_Sunday,searchDateDay_Tuesday
0,217.67,ATL,BOS,149,1,False,9,947.0,Delta,Airbus A321,...,0,0,1,0,0,0,0,1,0,0
1,217.67,ATL,BOS,150,1,False,4,947.0,Delta,Airbus A321,...,0,0,1,0,0,0,0,1,0,0
2,213.02,ATL,BOS,332,1,False,7,956.0,American Airlines||American Airlines,Airbus A319||Airbus A320,...,0,0,1,0,0,0,0,1,0,0
3,213.02,ATL,BOS,398,1,False,7,956.0,American Airlines||American Airlines,Airbus A319||Boeing 737-800,...,0,0,1,0,0,0,0,1,0,0
4,213.02,ATL,BOS,286,1,False,1,947.0,United||United,Airbus A319||Boeing 737-800,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
757380,96.74,ORD,LGA,123,49,False,7,720.0,JetBlue Airways,Airbus A319,...,0,0,0,0,1,0,0,0,0,1
757381,96.74,ORD,LGA,123,49,False,7,720.0,JetBlue Airways,Boeing 737-800,...,0,0,0,0,1,0,0,0,0,1
757382,96.74,ORD,LGA,123,49,False,7,720.0,JetBlue Airways,Boeing 737-800,...,0,0,0,0,1,0,0,0,0,1
757383,96.74,ORD,LGA,138,49,False,9,720.0,Delta,Airbus A220-100,...,0,0,0,0,1,0,0,0,0,1
757384,120.00,ORD,LGA,586,49,False,7,1047.0,JetBlue Airways||JetBlue Airways,||Embraer 190,...,0,0,0,0,1,0,0,0,0,1

In [47]:
def change_equipment_to_categorie(data):
    airbus = 'airbus'
    boeing = 'boeing'
    other = 'other'

    def categorize_equipment(description):
        description = description.lower()
        if airbus in description and boeing in description:
            return "boeing_airbus"
        elif airbus in description:
            return airbus
        elif boeing in description:
            return boeing
        else:
            return other

    data['segmentsEquipmentDescription'] = data['segmentsEquipmentDescription'].apply(categorize_equipment)

    return data

In [58]:
unique_segmentsEquipmentDescription = df['segmentsEquipmentDescription'].value_counts()
print(unique_segmentsEquipmentDescription.head(30))

Boeing 737-800                                     39291
Airbus A321                                        35372
Boeing 737-800||Boeing 737-800                     20820
Airbus A321||Airbus A321                           17610
Airbus A320                                        17022
Boeing 737-800||Airbus A321                        13449
Airbus A321||Boeing 737-800                        13194
Embraer 175                                        12958
Boeing 737-900                                     12308
Airbus A319                                        12151
Airbus A319||Boeing 737-800                         8488
Boeing 737-800||Airbus A319                         8120
Embraer 175 (Enhanced Winglets)                     7732
Embraer 190                                         7511
Airbus A320||Airbus A320                            7203
Boeing 737-900||Boeing 737-900                      6550
AIRBUS INDUSTRIE A321 SHARKLETS                     6513
Boeing 737-800||Airbus A320                         5690
||                                                  5639
Airbus A321||Airbus A320                            5509
Airbus A320||Boeing 737-800                         5390
Airbus A320||Airbus A321                            5356
Boeing 737 MAX 8                                    5277
Airbus A321||Boeing 717                             5213
Airbus A319-321                                     5028
Embraer 175||Boeing 737-800                         5005
Embraer 175 (Enhanced Winglets)||Boeing 737-900     4912
Boeing 717||Airbus A321                             4893
Embraer 190||Embraer 190                            4881
Airbus A320||Boeing 737-900                         4815
Name: segmentsEquipmentDescription, dtype: int64

In [48]:
# DataFrame 'df' enthält eine Spalte 'segmentsEquipmentDescription'

# Funktionsaufruf, um die Ausrüstungskategorien zu ändern
df_updated = change_equipment_to_categorie(df_new)

# Das aktualisierte DataFrame anzeigen
df_new = df_updated

In [51]:
def one_hot_encode_and_convert_to_int_aircraft(df, column_to_encode):
    # Specify the categories
    #categories = ['boeing', 'airbus', 'boeing_airbus', 'other_aircraft']

    # Perform one-hot encoding using get_dummies() with specific categories
    encoded_column = pd.get_dummies(df[column_to_encode])
    
    
    # Convert boolean values to integers (True -> 1, False -> 0)
    encoded_column = encoded_column.astype(int)
    
    # Concatenate the encoded column with the original DataFrame
    df_encoded = pd.concat([df_new, encoded_column], axis=1)
    
    return df_encoded

In [52]:
df_encoded = one_hot_encode_and_convert_to_int_aircraft(df_new, 'segmentsEquipmentDescription')
df_new = df_encoded

# Print the updated DataFrame
df_new

,baseFare,startingAirport,destinationAirport,travelDurationMinutes,daysLeft,isBasicEconomy,seatsRemaining,totalTravelDistance,segmentsAirlineName,segmentsEquipmentDescription,...,flightDateDay_Tuesday,flightDateDay_Wednesday,searchDateDay_Monday,searchDateDay_Saturday,searchDateDay_Sunday,searchDateDay_Tuesday,airbus,boeing,boeing_airbus,other
0,217.67,ATL,BOS,149,1,False,9,947.0,Delta,airbus,...,0,0,0,1,0,0,1,0,0,0
1,217.67,ATL,BOS,150,1,False,4,947.0,Delta,airbus,...,0,0,0,1,0,0,1,0,0,0
2,213.02,ATL,BOS,332,1,False,7,956.0,American Airlines||American Airlines,airbus,...,0,0,0,1,0,0,1,0,0,0
3,213.02,ATL,BOS,398,1,False,7,956.0,American Airlines||American Airlines,boeing_airbus,...,0,0,0,1,0,0,0,0,1,0
4,213.02,ATL,BOS,286,1,False,1,947.0,United||United,boeing_airbus,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
757380,96.74,ORD,LGA,123,49,False,7,720.0,JetBlue Airways,airbus,...,1,0,0,0,0,1,1,0,0,0
757381,96.74,ORD,LGA,123,49,False,7,720.0,JetBlue Airways,boeing,...,1,0,0,0,0,1,0,1,0,0
757382,96.74,ORD,LGA,123,49,False,7,720.0,JetBlue Airways,boeing,...,1,0,0,0,0,1,0,1,0,0
757383,96.74,ORD,LGA,138,49,False,9,720.0,Delta,airbus,...,1,0,0,0,0,1,1,0,0,0
757384,120.00,ORD,LGA,586,49,False,7,1047.0,JetBlue Airways||JetBlue Airways,other,...,1,0,0,0,0,1,0,0,0,1

## Encoding AirlineNames

In [54]:
unique_segmentsAirlineName = df_new['segmentsAirlineName'].value_counts()
print(unique_segmentsAirlineName.head(10))

American Airlines||American Airlines    136682
Delta||Delta                            111520
United||United                          101352
American Airlines                        68751
Delta                                    45534
United                                   43110
JetBlue Airways                          33870
JetBlue Airways||JetBlue Airways         24106
Alaska Airlines||Alaska Airlines         18394
Delta||United                            13775
Name: segmentsAirlineName, dtype: int64

In [98]:
categories = ['American Airlines', 'Delta', 'JetBlue Airways', 'United', 'Alaska Airlines']

# Hinzufügen der Spalten mit 0-Werten
#for category in categories:
#    df_new[category] = 0

for category in categories:
    df_new[category] = df_new['segmentsAirlineName'].str.contains(category, case=False).astype(int)

In [99]:
if debug:
    filtered_df = df_new[df_new['totalStops'] > 1]
    filtered_df

,baseFare,startingAirport,destinationAirport,travelDurationMinutes,daysLeft,isBasicEconomy,seatsRemaining,totalTravelDistance,segmentsAirlineName,segmentsEquipmentDescription,...,depatureTime,flightDay,flightMonth,searchDay,totalStops,American Airlines,Delta,JetBlue Airways,United,Alaska Airlines
113,304.18,ATL,IAD,689,1,False,1,1078.0,Delta||Delta||Delta,Airbus A321||Embraer 175||Embraer 175,...,23.20,17,4,16,2,0,1,0,0,0
124,658.55,ATL,IAD,742,1,False,2,1224.0,Delta||Cape Air||Cape Air||United,Airbus A320||Tecnam P2012 Traveler||Tecnam P20...,...,8.55,17,4,16,3,0,1,0,1,0
125,730.18,ATL,IAD,441,1,False,2,1224.0,Delta||Cape Air||Cape Air||United,Boeing 737-800||Tecnam P2012 Traveler||Tecnam ...,...,13.56,17,4,16,3,0,1,0,1,0
133,510.70,ATL,JFK,540,1,False,4,1132.0,United||United||Delta,Airbus A319||Boeing 737-800||Embraer 175,...,5.30,17,4,16,2,0,1,0,1,0
137,195.72,ATL,LAX,792,1,False,4,1797.0,Frontier Airlines||Frontier Airlines||Frontier...,||||,...,22.59,17,4,16,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
757270,204.65,ORD,IAD,768,49,False,4,1097.0,American Airlines||American Airlines||American...,Boeing 737-800||Airbus A321||Canadair Regional...,...,20.41,7,6,19,2,1,0,0,0,0
757271,206.51,ORD,IAD,752,49,False,7,1232.0,American Airlines||American Airlines||American...,Canadian Regional Jet 700||Airbus A320||Boeing...,...,8.20,7,6,19,2,1,0,0,0,0
757285,290.24,ORD,IAD,485,49,False,7,1344.0,American Airlines||American Airlines||American...,Airbus A319||Airbus A320||Boeing 737-800,...,15.15,7,6,19,2,1,0,0,0,0
757289,307.91,ORD,IAD,540,49,False,7,1250.0,American Airlines||American Airlines||American...,Embraer 175||Airbus A319||Boeing 737-800,...,14.20,7,6,19,2,1,0,0,0,0
757292,363.78,ORD,IAD,511,49,False,1,1064.0,Cape Air||Cape Air||Delta||Delta,Tecnam P2012 Traveler||Tecnam P2012 Traveler||...,...,13.20,7,6,19,3,0,1,0,0,0

## Encoding Airports

In [ ]:
unique_startingAirpot = df_new['startingAirport'].value_counts()
print(unique_startingAirpot)

In [ ]:
unique_destinationAirport = df_new['destinationAirport'].value_counts()
print(unique_destinationAirport)

In [ ]:
def add_coordinates(df, airport_column, latitude_column, longitude_column):
    coordinates = {
        'LAX': (33.9425, 118.4072),
        'LGA': (40.7769, 73.8731),
        'BOS': (42.3656, 71.0096),
        'SFO': (37.6189, 122.3750),
        'CLT': (35.2140, 80.9431),
        'ORD': (41.9786, 87.9047),
        'MIA': (25.7933, 80.2906),
        'DFW': (32.8998, 97.0403),
        'ATL': (33.6407, 84.4277),
        'DEN': (39.8561, 104.6737),
        'PHL': (39.8719, 75.2411),
        'DTW': (42.2125, 83.3534),
        'JFK': (40.6413, 73.7781),
        'EWR': (40.6925, 74.1687),
        'IAD': (38.9445, 77.4558),
        'OAK': (37.7213, 122.2216)
    }

    df[latitude_column], df[longitude_column] = zip(*df[airport_column].map(coordinates.get))
    return df


# Funktionsaufruf zum Hinzufügen der Koordinaten
df_new = add_coordinates(df_new, 'startingAirport', 'startingAirport_Latitude', 'startingAirport_Longitude')

# Funktionsaufruf zum Hinzufügen der Koordinaten
df_new = add_coordinates(df_new, 'destinationAirport', 'destinationAirport_Latitude', 'destinationAirport_Longitude')

In [ ]:
unique_segmentsEquipmentDescription = df_new['segmentsEquipmentDescription'].value_counts()
pd.set_option('display.max_rows', None)
unique_segmentsEquipmentDescription

In [ ]:
random_sample['segmentsAirlineName']=labelencoder.fit_transform(random_sample['segmentsAirlineName'])
random_sample['segmentsEquipmentDescription']=labelencoder.fit_transform(random_sample['segmentsEquipmentDescription'])
random_sample['startingAirport']=labelencoder.fit_transform(random_sample['startingAirport'])
random_sample['destinationAirport']=labelencoder.fit_transform(random_sample['destinationAirport'])
random_sample['flightDay']=labelencoder.fit_transform(random_sample['flightDay'])
random_sample['searchDay']=labelencoder.fit_transform(random_sample['searchDay'])
random_sample['flightMonth']=labelencoder.fit_transform(random_sample['flightMonth'])

In [ ]:
print(df_new['searchDateDay'].unique())
print(df_new['searchDateDay'].value_counts())
print(df_new['flightDateDay'].unique())
print(df_new['flightDateDay'].value_counts())

 Eine hohe Korrelation zwischen zwei oder mehreren Features kann auf Multikollinearität hinweisen. Folgend untersuchen wir die Matrix auf die Matrix überprüfen und nach starken positiven oder negativen Korrelationen suchen.

In [ ]:
#corr_matrix.isna().sum()
random_sample.isna().sum()

In [ ]:
# Korrelationsmatrix erstellen
corr_matrix = random_sample.corr()

# Alle Features in der Korrelationsmatrix anzeigen
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
print(corr_matrix)

In [ ]:
# Korrelationsmatrix erstellen
#corr_matrix = df.corr()

# Korrelationsmatrix anzeigen
#print(corr_matrix)

# Heatmap der Korrelationsmatrix erstellen
#plt.figure(figsize=(10, 8))
plt.figure(figsize=(19, 19))
#plt.figure()
sns.heatmap(corr_matrix, annot=True, cmap="coolwarm")

# Plot anzeigen
plt.show()

Aussortieren von Feature, da die correlation kleiner als 0,001 ist.

Zwischen 'baseFare' und 'flightMonth' ist eine Korrelation von 0,00027.

Zwischen 'baseFare' und 'searchDay' ist eine Korrelation von 0,0014.

Beide Werte werden folgend nicht mehr betrachtet.

In [ ]:
random_sample= random_sample.drop('flightMonth', axis=1)
random_sample= random_sample.drop('searchDay', axis=1)
print(random_sample.head(10))

In [ ]:
import pandas as pd
from statsmodels.stats.outliers_influence import variance_inflation_factor

# Assuming you have a DataFrame called 'random_samples'

# Create a DataFrame to store the VIF values
vif = pd.DataFrame()
vif["Feature"] = random_sample.columns
vif["VIF"] = [variance_inflation_factor(random_sample.values, i) for i in range(random_sample.shape[1])]

# Display the VIF values
print(vif)

In [ ]:
desired_columns = ['startingAirport', 'destinationAirport', 'fareBasisCode', 'travelDurationMinutes',  'isBasicEconomy', 'isRefundable', 
                   'isNonStop', 'baseFare', 'seatsRemaining', 'totalTravelDistance', 'segmentsAirlineName', 'segmentsEquipmentDescription','flightDate', 
                   'arrivalTime', 'depatureTime' ]

# creat new dataframe with selected columns
df_new = df[desired_columns].copy()
df=df_new

In [ ]:
df_new.info()
df_new.head(5)
df_new.isnull().sum()
df_new.shape

## 5. Exploratory Data Analysis

In [ ]:
sns.boxplot(data=df, y = 'baseFare')
plt.title("Price distribution");

In [ ]:
# check correlation beetween 
# Select the desired rows
selected_rows = df[['baseFare', 'flightDate', 'searchDate', 'totalTravelDistance', 'travelDurationMinutes', 'daysLeft']]

# Calculate the correlation between the selected rows
correlation = selected_rows.corr()

# Print the correlation matrix
print(correlation)

In [ ]:
plt.style.use('dark_background')
sns.displot(x= 'baseFare', data=df);

In [ ]:
#df['arrivalTime'].astype(str).str[:2].value_counts().sort_values()
df['arrivalTime'].astype(int).value_counts().sort_index()

In [ ]:
df['arrivalTime'].astype(int).value_counts().sort_index().plot(kind='line')
plt.xlabel('hours')
plt.ylabel('frequency')
plt.title("most hours of arrival time",
          fontsize='20');

In [ ]:
df['arrivalTime'].astype(int).value_counts().sort_index().plot(kind='line')
plt.xlabel('hours')
plt.ylabel('frequency')
plt.title("most hours of depurture time",
          fontsize='20');

In [ ]:
nonStop.head(5)

In [ ]:
nonStop = df.loc[df['isNonStop'] == True, ['segmentsAirlineName','baseFare']]
plt.figure(figsize=(10,10))
plt.xlabel("Airline", fontsize=15)
plt.ylabel("Price", fontsize=15)
#sns.lineplot(data=nonStop, x='segmentsAirlineName', y='baseFare', hue='segmentsAirlineName', color='blue')

plt.title("Airline Vs Price", fontsize=20)
# Create a legend
plt.legend(loc='right')
plt.show()

In [ ]:
# Wie viele verschiedene Arline typen gibt es?
df['segmentsAirlineName'].nunique()

df['isNonStop'].sum()

In [ ]:
nonStop['baseFare'].max()

In [ ]:
nonStop['baseFare'].min()

In [ ]:
# wie viele NonStop Flüge gibt es?
df['isNonStop'].sum()

In [ ]:
#import seaborn as sns
#import matplotlib.pyplot as plt

fig, ax = plt.subplots(ncols=2, nrows=1, figsize=(15, 5))

sns.countplot(x='destinationAirport', data=df, palette='Blues_r', order=df['destinationAirport'].value_counts().index, ax=ax[0]).set(title='Frequency of Destination Airport')
sns.countplot(x='startingAirport', data=df, palette='Blues_r', order=df['startingAirport'].value_counts().index, ax=ax[1]).set(title='Frequency Starting Airport')

plt.tight_layout()
plt.show()

In [ ]:
top20Routes = df['totalRoute'].value_counts()[:20]

plt.figure(figsize=(15,7))
chart=sns.countplot(y='totalRoute',data=df,palette='Blues', order = top20Routes.index)
plt.title("most 20 routes",
          fontsize='20')

In [ ]:
#plt.style.use('dark_background')
plt.figure(figsize=(15,8))
sns.lineplot(data=df, x='totalTravelDistance', y='baseFare', hue='isBasicEconomy', palette='hls')
plt.xlabel("Distance", fontsize=15)
plt.ylabel("Price", fontsize=15)
plt.show()

In [ ]:
# Ermitteln Sie das Maximum aus Spalte A, wenn Spalte B True ist
max_value = df.loc[df['isBasicEconomy'] == True, 'baseFare'].max()

# Zeigen Sie das Ergebnis an
print('Der teuerste Economy FLug beträgt:' , max_value, 'USD.')

In [ ]:
from matplotlib.lines import Line2D
#plt.figure(figsize=(10,10))
plt.xlabel("Day of the week", fontsize=15)
plt.ylabel("Price", fontsize=15)
sns.lineplot(data=df, x='flightDateDay', y='baseFare', color='blue')
sns.lineplot(data=df, x='searchDateDay', y='baseFare', color='pink')
plt.title("Effekt of the Days", fontsize=20)
# Create custom legend labels with name and color
custom_legend = [
    Line2D([0], [0], color='blue', lw=2, label='Flight Date'),
    Line2D([0], [0], color='pink', lw=2, label='Search Date')
]

plt.legend(handles=custom_legend, fontsize=12)

plt.show()

In [ ]:
plt.scatter(df["daysLeft"],
            df["baseFare"],s=30, color='blue')

In [ ]:
plt.figure(figsize=(10,10))
plt.xlabel("No of days left", fontsize=15)
plt.ylabel("Price", fontsize=15)
sns.lineplot(data=df, x='daysLeft', y='baseFare', color='blue')
plt.title("Days left with Departure Vs Price", fontsize=20)
plt.show()

## Notizen
Interessante überlegungen zum Datensatz:
a) Ist der Preis je nach Fluggesellschaft unterschiedlich?
b) Wie wirkt sich der Preis aus, wenn die Tickets nur 1 oder 2 Tage vor dem Abflug gekauft werden?
c) Ändert sich der Ticketpreis je nach Abflugzeit und Ankunftszeit?
d) Wie unterscheidet sich der Ticketpreis zwischen Economy und Business Class?

# 6. Model Entwicklung

## Erstellung Datensets

In [ ]:
desired_columns = ['startingAirport', 'destinationAirport', 'travelDurationMinutes',  'isBasicEconomy', 'isRefundable', 
                   'isNonStop', 'baseFare']

# creat new dataframe with selected columns
df_new = df[desired_columns].copy()
df=df_new

## Spliting the Data

In [ ]:
df = random_sample

In [ ]:
X = df.drop(columns= "baseFare")
y = df["baseFare"]

In [ ]:
from sklearn.model_selection import train_test_split
# Daten in Trainings- und Testdaten aufteilen
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Berechnung des Baseline Mean Absolute Error (MAE) für die Spalte 'baseFare' im DataFrame 'df

Die Baseline-Methode wird verwendet, um eine Referenzleistung zu erhalten, mit der die Leistung unseres eigentlichen Modells vergliechen werden kann. 
In diesem Fall wird der Baseline-MAE berechnet, indem wir den Durchschnittswert ('y_mean') der 'baseFare'-Spalte nehmen und eine Vorhersage ('y_pred_mae') für alle Datenpunkte im DataFrame erstellen, die diesem Durchschnittswert entsprechen.

Der MAE gibt uns den durchschnittlichen absoluten Unterschied zwischen den tatsächlichen 'baseFare'-Werten und den Baseline-Vorhersagewerten an. 
Wenn unser Modell eine bessere Leistung erzielt, sollte der MAE niedriger sein als der Baseline-MAE.

Der Baseline-MAE ist nützlich, um eine erste Einschätzung der Vorhersageleistung eines Modells zu erhalten. 

Ein niedriger Baseline-MAE, könnte darauf hinweisen, dass die Daten nicht viele variierende Muster enthalten und ein einfacher Durchschnitt als Vorhersage ausreicht. 
In diesem Fall müsste möglicherweise ein komplexeres Modell entwickelt werden, um bessere Vorhersagen zu erzielen.

Ein hoher Baseline-MAE, deutet darauf hin, dass es Muster und Zusammenhänge in den Daten gibt, die von einem Modell erfasst werden könnten. .

Insgesamt dient der Baseline-MAE als Ausgangspunkt für unsere Modellbewertung und hilft uns dabei, unseren Fortschritt und den Mehrwert unseres Modells zu beurteilen.

In [ ]:
df['baseFare'].min()

In [ ]:
df= df_new

In [ ]:
from sklearn.metrics import mean_absolute_error

y_mean = df['baseFare'].mean()
y_pred_mae = [y_mean] * len(df)
y_baseline = mean_absolute_error(df['baseFare'], y_pred_mae)
print("Baseline MAE:", round(y_baseline))

# TODO bitte nochmal im internet recherchieren ob das richtig ist

Der MAE beträgt 146.
Das bedeutet, dass unsere Baseline-Vorhersagen im Durchschnitt um 146 Einheiten von den tatsächlichen Flugpreisen abweichen.

Um die Leistung unseres Modells zu bewerten, sollten wir sicherstellen, dass der MAE unseres Modells niedriger ist als dieser Baseline-MAE. Ein niedrigerer MAE zeigt an, dass unser Modell genauer ist und eine bessere Vorhersage der Flugpreise liefert.

Es ist wichtig anzumerken, dass die Flugpreise in den Trainingsdaten einen breiten Bereich von 8.72 USD bis 4407.44 USD abdecken. Dieser Bereich spiegelt die Varianz und die unterschiedlichen Preise wider, die in den Flugdaten vorkommen. Indem wir unseren MAE mit dieser Spannweite vergleichen, können wir die Leistung unseres Modells besser einschätzen und bewerten, wie gut es in der Lage ist, die Flugpreise vorherzusagen.

## Random Forrest

Der Random Forest Regressor komibiert mehrerer Decision Trees, um eine Vorhersage zu treffen. 
Im Training werden die  interen Parameter so optimiert, dass eine möglichst zutreffende Vorhersage erzielt werden kann.

Nachdem das Modell trainiert wurde, haben wir Vorhersagen auf dem Testdatensatz (X_test) gemacht. Hierbei haben wir die Methode "predict()" auf dem rf_model-Objekt aufgerufen und als Ergebnis die Vorhersagewerte "y_pred" erhalten. 

Zur Evaluierung des Modelles wird der Mean Squared Error (MSE) herangezogen. Diese misst die durchschnittliche quadratische Abweichung zwischen den tatsächlichen Testwerten (y_test) und den vorhergesagten Werten (y_pred). Ein niedrigerer MSE deutet auf eine bessere Vorhersageleistung hin.

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Create a random forest regressor object
rf_model = RandomForestRegressor()

# Train the random forest model
rf_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = rf_model.predict(X_test)

# Evaluation des Modells
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)

In unserem Fall beträgt der MSE 4471.650895294656. Dies bedeutet, dass die durchschnittliche quadratische Abweichung zwischen den tatsächlichen Flugpreisen und den Vorhersagen unseres Modells 4471.650895294656 beträgt.

# One-Hot-Encoding für die kategorischen Variablen durch
X_train_encoded = pd.get_dummies(X_train)
X_test_encoded = pd.get_dummies(X_test)

## Feature Importance

In [ ]:
from sklearn.ensemble import RandomForestRegressor

# Create an instance of the Random Forest regressor
model = RandomForestRegressor()

# Fit the model to your data
model.fit(X_train, y_train)

# Get the feature importances
feature_importances = model.feature_importances_

# Create a dataframe to display the feature importances
importance_df = pd.DataFrame({'Feature': X_train.columns, 'Importance': feature_importances})
importance_df = importance_df.sort_values(by='Importance', ascending=False)

# Print or display the feature importances
print(importance_df)

In [ ]:

plt.figure(figsize=(10, 6))
plt.barh(importance_df['Feature'], importance_df['Importance'])
plt.xlabel('Importance')
plt.ylabel('Feature')
plt.title('Feature Importants')
plt.show()

## Lineare Regression

In [ ]:
from sklearn.linear_model import LinearRegression

# Instanz eines linearen Regressionsmodells
model = LinearRegression()

# Training
model.fit(X_train, y_train)

# Vorhersagen für die Testdaten
y_pred = model.predict(X_test)

# Bewertung der Vorhersageleistung
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)

In [ ]:
y_pred